* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.text_50 {
    font-size: 50px;
}

.text_32 {
    font-size: 32px;
}

.text_24 {
    font-size: 24px;
}

.text_22 {
    font-size: 22px;
}

.text_20 {
    font-size: 20px;
}

.text_18 {
    font-size: 18px;
}

.text_bold {
    font-weight: bold;
}

.text_deco_none {
    text-decoration: none;
}

.container {
    margin: 0 200px;
}

.w-full {
    width: 100%;
}

.mt_10 {
    margin-top: 10px;
}

.mt_20 {
    margin-top: 20px;
}

.py_10 {
    padding: 10px 0;
}

.pb_50 {
    padding-bottom: 50px;
}

.pb_150 {
    padding-bottom: 150px;
}

.width_100 {
    width: 100%;
}

.width_50 {
    width: 50%;
}

.width_50px {
    width: 50px;
}

/*nav section */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list li {
    list-style: none;
    padding: 0 10px;
}

.menu-list li a {
    text-decoration: none;
    color: black;
}

.menu-list li a:hover {
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.6);
    color: green;
    padding: 10px;
    border-radius: 4px;
}

@media (max-width: 820px) {
    .nav, .menu, .menu-list {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }
}


.btn {
    background-color: #cbd5e5;
    border: none;
    padding: 15px 20px;
    border-radius: 3px;
}

.btn:hover {
    background-color: #b9cceb;
}

.banner-bg {
    background-color: #f5f7fa;
    margin-top: 20px;
}

/* banner section */
.banner {
    display: flex;
    padding: 40px 0;
}

@media (max-width: 820px) {
    .container {
        margin: 0 40px;
    }

    .banner {
        display: flex;
        flex-flow: column-reverse;
        gap: 20px;
    }
}

.banner-text {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    gap: 20px;
}

.banner-img {
    width: 100%;
    align-items: center;
}

/* client section */


.client-bg {
    margin-top: 200px;
}

.client {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

.client-list {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.client_image {
    width: 50px;
}


@media (max-width: 820px) {
    .client-list {
        display: flex;
        flex-flow: wrap;
        gap: 20px;

        justify-content: center;
    }
}

/*power of blockchain section*/

.pob {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 200px;
    gap: 20px;

}

.pob-item {
    display: flex;
    justify-content: space-between;
}

.pob-card {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 300px;
}

.pob-img {
    display: flex;
    justify-content: center;
}

.img-box {
    display: flex;
    background-color: #e8f5e9;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 18px 5px 25px 5px;
}

@media (max-width: 820px) {
    .pob-item {
        padding: 10px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 20px;
    }
}

/*helping from blockchain section*/

.hb-bg {
    background-color: #f5f7fa;
    margin-top: 200px;
}

.hb {
    display: flex;
    align-items: center;
    padding: 80px 0;
}

.hb-head {
    width: 50%;
}

.hb-item {
    display: flex;
    flex-flow: wrap;
    gap: 4px;
    width: 50%;
}

.hb-card {
    display: flex;
    align-items: center;
    width: 45%;
    gap: 4px;
}

.hb-img {
    width: 40px;
    height: 40px;
}

.hb_text {
    padding: 0 10px;
}

@media (max-width: 820px) {
    .hb {
        padding: 10px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 20px;
    }

    .hb-item {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 20px;
    }
}

/*future of blockchain section*/
.fob-bg {
    padding: 200px 0;
}

.fob {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.fob-head {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    justify-content: center;
    gap: 10px;
}

.fob-item {
    display: flex;
    justify-content: space-between;
}

.fob-card {
    position: relative;
    width: 300px;
}

.fob-img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
}

.fob-img:hover {
    border: #121315;
    opacity: .8;
}

.fob-text {
    position: absolute;
    z-index: 2;
    top: 100px;
    width: 75%;
    left: 15px;
    background-color: #f5f7fa;
    padding: 40px 20px;
    border-radius: 10px;
}

.fob-head-text {

}

.fob-text:hover {
    background-color: rgba(204, 193, 193, 0.98);
}

@media (max-width: 1040px) {
    .fob-item {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}


/*none*/

.button-text {
    padding: 20px 0;
    font-size: 20px;
    color: limegreen;
}

/*contact section*/
.contact-bg {
    background-color: #cbd5e1;
    margin-bottom: 200px;
}

.contact {
    display: flex;
}

.contact_theme {
    padding: 20px;
}

.contact_image {
    max-width: 400px;
    border-radius: 10px;
}

.contact_form {
    display: flex;
    flex-flow: column;
    padding: 20px;
    gap: 10px;
}

.contact_form input, textarea {
    padding: 5px;
    margin-top: 5px;
}

@media (max-width: 1040px) {
    .contact {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}


/*footer section*/
.footer-bg {
    background-color: #1e293b;
    color: white;
}

.footer {
    display: flex;
    padding: 100px 0;
}

.logo-card {
    display: flex;
    flex-flow: column;
}

.logo-card {
    width: 35%;
}

.company-card {
    display: flex;
    flex-flow: column;
}

.company-card, .support-card {
    width: 20%;
}

.stay-card {
    width: 25%;
}

.support-card {
    display: flex;
    flex-flow: column;
}

.stay-card {
    display: flex;
    flex-flow: column;
}

.company-card .links, .support-card .links {
    display: flex;
    flex-flow: column;
    padding-top: 10px;
}

.company-card .links a, .support-card .links a {
    text-decoration: none;
    color: white
}

@media (max-width: 1040px) {
    .footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 20px;
    }
}
